<div class="section"></div>
<main>
  <center>
    <h5 class="indigo-text"><i class="fa fa-cogs" aria-hidden="true"></i> Settings</h5>
    <div class="section"></div>
    <div class="container">
      <form class="col s12" method="post" ng-submit="uploadSettings()">

        <div class='row'>
          <div class='input-field col s12'>
            <input class='validate' type='text' name='destUser' id='destUser' ng-model="settings.destUser"/>
            <label for='username'>Destination number</label>
          </div>
        </div>
        <div class="row" ng-show="false">
          <div class="col s12">
            <select ng-model="camType" id="camType" material-select>
              <option value="lc" selected>Local Cam</option>
              <option value="ipw">Ip Webcam</option>
            </select>
            <label for="camType">Cam</label>
          </div>
        </div>
        <div class='row' ng-show="camType=='ipw'">
          <div class='input-field col s12'>
            <input class='validate' type='text' name='rtspUrl' id='rtspUrl' ng-model="settings.rtspUrl"/>
            <label for="rtspUrl">RtspUrl</label>
          </div>
        </div>
        <div class='row' ng-show="false">
          <div class='input-field col s12'>
            <input type="checkbox" id="enableVideoRec" ng-model="settings.videoRec" ng-init="settings.videoRec = false"/>
            <label for="enableVideoRec">Enable to receive video from dest user (only if supported)</label>
          </div>
        </div>
        <br>
        <br>
        <div class='row'>
          <div class="col l3 m3 s4">
            <button type='submit' name='btnSave' class='btn btn-large waves-effect indigo'>Save</button>
          </div>
          <div class="col l3 m3 s4">
            <button type='button' name='btnReset' class='btn btn-large waves-effect materialize-red' ng-click="settings={}">Reset</button>
          </div>
        </div>
    </form>
  </div>
</center>
</main>
